  {% load static %}
  <section id="about" class="about section light-background">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row align-items-center gy-5 gx-lg-5">
        <div class="col-lg-6">
          <div class="about-book-img" data-aos="fade-right" data-aos-delay="200">
            <img src="{% static 'img/book/book-square-5.webp' %}" alt="Book Title" class="img-fluid">
            <div class="book-details">
              <div class="detail-item">
                <i class="bi bi-journal"></i>
                <div>
                  <span>Pages</span>
                  <p>384</p>
                </div>
              </div>
              <div class="detail-item">
                <i class="bi bi-translate"></i>
                <div>
                  <span>Language</span>
                  <p>English</p>
                </div>
              </div>
              <div class="detail-item">
                <i class="bi bi-calendar3"></i>
                <div>
                  <span>Published</span>
                  <p>12/15/2024</p>
                </div>
              </div>
              <div class="detail-item">
                <i class="bi bi-star"></i>
                <div>
                  <span>Rating</span>
                  <p>4.8/5</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="about-book-content" data-aos="fade-left" data-aos-delay="300">
            <h2>About The Book</h2>
            <div class="book-category">
              <span><i class="bi bi-bookmark"></i> Science Fiction</span>
              <span><i class="bi bi-people"></i> Young Adult</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat.
            </p>
            <p>
              Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
            </p>

            <div class="highlights">
              <h3>What You'll Discover:</h3>
              <ul>
                <li>
                  <i class="bi bi-check-circle"></i>
                  <span>Nulla porttitor accumsan tincidunt</span>
                </li>
                <li>
                  <i class="bi bi-check-circle"></i>
                  <span>Vestibulum ac diam sit amet quam</span>
                </li>
                <li>
                  <i class="bi bi-check-circle"></i>
                  <span>Praesent sapien massa convallis</span>
                </li>
                <li>
                  <i class="bi bi-check-circle"></i>
                  <span>Curabitur non nulla sit amet nisl tempus</span>
                </li>
              </ul>
            </div>

            <a href="#purchase" class="about-book-cta">
              Get the Book <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>